@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: hsl(47, 88%, 63%);
  --grayLight: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);
  --CFBlack: #000000;
  --CFDarkPurple: #5c2dd5;
  --CFPurple: #7945ff;
  --CFPink: #fd6687;
  --CFYellow: #ffce67;
  --CFWhite: #ffffff;
}

::backdrop {
  background: #00000050;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Figtree';
  src: url(../app/fonts/Figtree-VariableFont_wght.ttf);
}
